a {
  text-decoration: none;
}

li {
  list-style: none;
}

.header__content, .footer__content-text {
  padding: 30px 0 30px 0;
}

.bg-danger, .bg-primary {
  padding: 40px 120px 0 20px;
}

.work__photo {
  border-radius: 20px;
}

.content {
  padding: 50px 0 50px 0;
}

.work {
  padding: 10px 20px 0 20px;
}

.work__title {
  padding: 20px 0 0 0;
}

.work__content {
  margin: 0 0 67px 0;
}

.work__content-small {
  margin: 0 0 90px 0;
}

.content__border-button {
  margin: 10px 0 10px 0;
  border-radius: 10px;
  padding: 8px 90px 8px 90px;
}